/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;

        cursor: url('https://github.com/jennaasun/CCLab/blob/main/Untitled_Artwork-2.png?raw=true'), auto;
      
}

h1 {
    color: #007bff;
}

/* Add more styles as needed */